<link rel="apple-touch-icon" sizes="x" href="/apple-touch-icon.png?v=079ed719ff0de2d4c93310689ddba34cdd9595db">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=079ed719ff0de2d4c93310689ddba34cdd9595db">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=079ed719ff0de2d4c93310689ddba34cdd9595db">
<link rel="manifest" href="/site.webmanifest?v=079ed719ff0de2d4c93310689ddba34cdd9595db">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=079ed719ff0de2d4c93310689ddba34cdd9595db" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=079ed719ff0de2d4c93310689ddba34cdd9595db">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">