# node
node_modules

# bower
bower_components

# tmp files
hugo/.images-temp
.cache-*

# Hugo
hugo/public
hugo/published
hugo/layouts
# Everything static is rebuilt except the uploads dir
!hugo/static
hugo/static/*
!hugo/static/uploads

# OSX
.DS_Store

# Sublime Text 3
.deprc
