<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head-meta.html" . }}
</head>
<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

<div id="barba-wrapper">
<div class="barba-container">

{{ partial "header.html" . }}

<!-- Post Content -->
<div class="main-content">
  <div class="container">
      {{ range .Data.Pages.Reverse }}
        {{ $now := now.Format "2006-01-02" }}    
        {{ $start := .Date.Format "2006-01-02"  }}
        
        {{ if .Params.endDate }}
          {{ $end := dateFormat "2006-01-02" .Params.endDate  }}
      
          {{ if or (ge $start $now) (ge $end $now)}}
              {{ partial "event-card.html" . }}
          {{ end }}
          
        {{ else if ge $start $now }}
            {{ partial "event-card.html" . }}                        
        {{ end }}
      {{ end }}
  </div>
</div>
</div>
</div>

{{ partial "footer.html" . }}

{{ partial "footer-scripts.html" . }}

</body>
</html>
