<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head-meta.html" . }}
</head>
<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

<div id="barba-wrapper">
<div class="barba-container">

{{ partial "header.html" . }}

<!-- Post Content -->
<article>
    <div class="container">
        {{ partial "event-card.html" .}}
    </div>
</article>
</div>
</div>

{{ partial "footer.html" . }}

{{ partial "footer-scripts.html" . }}

</body>
</html>
