<div class="row">
    <div class="col-lg-4 col-lg-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
        <div data-responsive-background-image class="event-card-image" style="height: 200px; vertical-align: middle;">
            {{ if .Params.image }}
                {{ partial "image-srcset" (dict "path" .Params.image "sizes" "25vw, (max-width: 768px) 100vw") }}
            {{ end }}
        </div>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-8">
        <a href="{{ .Params.eventLink }}" style="text-decoration: underline; font-size: 1.2em;"><i>{{ .Title }}</i></a>
        <br>
        {{ .Date.Format "02/01 2006" }}
        {{ if .Params.endDate }}
            - .Params.endDate.Format "02/01 2006" 
        {{ end }}
        <br><br>
        {{ .Description }}
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-4 lg-nopadding md-nopadding sm-nopadding">
        <div style="float: right;">
            <!-- I got these buttons from simplesharebuttons.com -->
            <div id="share-buttons">
                <!-- Email -->
                <a href="mailto:?Subject={{ .Title }}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20{{ .Params.eventLink }}">
                    <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
                </a>
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u={{ .Params.eventLink }}" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>
            </div>
        </div>
    </div>
</div>