:root {
  --background: #222;
  --text: #e8e8e8;
  --link: #bbb;
  --linkhover: #0085a1;
  --selection_bg: #b3d4fc;
  --hrulecolor: #888;

  --white: #fefefe;

  /* Change resolution when to show menu on scroll-up.
    All the menu items must fit inside the resolution, otherwise
    the feature will break. */
  --menuresolution: 1024px; /* not used, must use custom-media stuff */
  --menubackground: #111;
  --menutitle: #fefefe;
  --menulink: #fefefe;
  --menulinkhover: #fff;
}
