:root {
  --background: #222;
  --text: #e8e8e8;
  --textmuted: #777;
  --link: #bbb;
  --linkhover: #0085a1;
  --selection_bg: #b3d4fc;
  --hrulecolor: #888;

  --white: #fefefe;

  --menubackground: #111;
  --menulink: #fefefe;
  --menulinkhover: #fff;
  --menulinkmobile: #222;
  --menulinkhovermobile: #555;
}
