# Javascript Node CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-javascript/ for more details

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10

    environment:
      # Set the email address to use when commiting to repository
      - OWNER_EMAIL: 
      
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies (change v-num for cache bust)
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Yarn Install
          command: yarn install --cache-folder ~/.cache/yarn

      # Store yarn / node cache
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - ~/.cache/yarn
            - node_modules

      - run:
          name: Build and push to repository
          command: bash ./Build/circleci_build.sh

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
                - content
